<form [formGroup]="createCompanyForm" (ngSubmit)="onSubmit()">
  <mat-card class="form-container">
    <mat-card-title>Company Information</mat-card-title>
    <mat-card-content>
      <mat-form-field appearance="fill">
        <mat-label for="vatNumber">VAT Number</mat-label>
        <input matInput type="text" id="vatNumber" formControlName="vatNumber">
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label for="name">Company Name</mat-label>
        <input matInput type="text" id="name" formControlName="name">
      </mat-form-field>
      <!-- Contact Data Group -->
      <div formGroupName="contactData">
        <mat-form-field appearance="fill">
          <mat-label for="primaryEmail">Email</mat-label>
          <input matInput type="email" id="primaryEmail" formControlName="primaryEmail">
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label for="primaryPhone">Phone Number</mat-label>
          <input matInput type="tel" id="primaryPhone" formControlName="primaryPhone">
        </mat-form-field>
      </div>
    </mat-card-content>
  </mat-card>

  <!-- Address Group -->
  <mat-card class="form-container">
    <mat-card-title>Address</mat-card-title>
    <mat-card-content>
      <div formGroupName="address" class="input-fields">
        <mat-form-field appearance="fill">
          <mat-label for="street">Street</mat-label>
          <input matInput type="text" id="street" formControlName="street">
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label for="city">City</mat-label>
          <input matInput type="text" id="city" formControlName="city">
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label for="state">State</mat-label>
          <input matInput type="text" id="state" formControlName="state">
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label for="zip">Zip Code</mat-label>
          <input matInput type="text" id="zip" formControlName="zip">
        </mat-form-field>
        <mat-form-field>
          <mat-label>Country</mat-label>
          <mat-select formControlName="country">
            <mat-option *ngFor="let country of countries" [value]="country">
              {{ country }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      <div class="submit-button-container">
        <button mat-raised-button type="submit" [disabled]="!createCompanyForm.valid">Submit</button>
      </div>
      </div>
    </mat-card-content>
  </mat-card>



</form>