mat-card
  margin-bottom: 10px 
  display: flex

mat-card-title
  color: black
  display: flex
  justify-content: center
  margin-bottom: 10px
  
.submit-button-container
  display: flex
  justify-content: flex-end

.input-fields, .card-content
    display: flex
    flex-direction: row
    flex-wrap: wrap
    align-items: center
    justify-content: space-around
