// Import the variables using @use
@use 'variables' as vars
// In styles.scss or styles.sass
@import '~bootstrap/dist/css/bootstrap.min.css'


html
  font-family: 'Roboto Mono', monospace

// Apply the body styles
body
  background-color: vars.$background-color
  color: vars.$text-color
  font-size: 16px
  margin: 0
  padding: 0

// Use the yellow color for elements with the .yellow-span class
.yellow-span
  color: vars.$yellow

  /* Custom scrollbar for WebKit-based browsers */
::-webkit-scrollbar
  width: 8px 


::-webkit-scrollbar-track 
  background: #f0f0f0


::-webkit-scrollbar-thumb 
  background: vars.$yellow
  border-radius: 4px


::-webkit-scrollbar-thumb:hover 
  background: #a8a8a8
