<!-- app.component.html or navbar.component.html -->
<nav class="navbar navbar-expand-lg navbar-dark navbar-yellow">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">CodeSense</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active" routerLink="/home" aria-current="page">Home</a>
        </li>
        
        @if(!(_auth.isAuthenticated$ | async))
        {
        <li class="nav-item">
          <a class="nav-link" (click) ="_auth.loginWithRedirect()">Log in</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" routerLink="/register/user">Sign up</a>
        </li>
        }
        @else
        {
          <li class="nav-item">
            <a class="nav-link" (click) = "_auth.logout()">Log out</a>
          </li>
        }

        
        <!-- Add more nav items with corresponding routerLinks here -->
      </ul>
    </div>
  </div>
</nav>