<form [formGroup]="registerForm" (ngSubmit)="onSubmit()">

    <label for="firstName">First Name:</label>
    <input id="firstName" type="text" formControlName="firstName">

    <label for="lastName">Last Name:</label>
    <input id="lastName" type="text" formControlName="lastName">

    <label for="password">Company:</label>
    <input id="companyName" type="companyName" formControlName="companyName">

    <label for="email">Email: @if(registerForm.get('email')?.errors?.['email'] && registerForm.get('email')?.touched){
        <span class="error">
            Please enter a valid email address.
        </span>
        }</label>

    <input id="email" type="email" formControlName="email">


    <label for="password">Password:</label>
    <input id="password" type="password" formControlName="password">

    <label for="confirmPassword">Confirm Password: @if(registerForm.get('confirmPassword') !=
        registerForm.get('password') && registerForm.get('confirmPassword')?.touched){
        <span class="error">
            Passwords do not match.
        </span>
        }</label>
    <input id="confirmPassword" type="password" formControlName="confirmPassword">



    <button type="submit" [disabled]="!registerForm.valid ">Register</button>
</form>

@if(successMessage){
<div class="alert alert-success">
    {{successMessage}}
</div>
}
@else if(errorMessage){
<div class="alert alert-danger">
    {{errorMessage}}
</div>
}